

<div class="container">
  <div class="row justify-content-center">

    <%= simple_form_for (@user, @shipper) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :poc_name %>
      <%= f.input :poc_email %>
      <%= f.input :poc_phone %>
      <%= f.input :office_location %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
